<div class="navbar">
  <h2>BUDGET PLANNER</h2>
</div>

<div class="login-container">
  <!-- Login -->
  <form
    *ngIf="activeForm === 'login'"
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  ></form>
  <h2>Login</h2>
  <div class="form-group">
    <input type="email" formControlName="email" placeholder="E-mail" />
  </div>
  <div class="form-group">
    <input type="password" formControlName="password" placeholder="Password" />
  </div>
  <button type="submit">Login</button>
  <p (click)="toggleForm('register')">
    Don't have an account?
    <span class="highlighted">Register</span>
  </p>
  <!-- Register -->
</div>
